<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3361174751-15aetr6bsje26lb7685fecv4b9pnv20o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3361174751-15aetr6bsje26lb7685fecv4b9pnv20o</string>
	<key>API_KEY</key>
	<string>AIzaSyC8izrJbZ9RgFtvL9pv5XSOl7mskEMzE-s</string>
	<key>GCM_SENDER_ID</key>
	<string>3361174751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.forecast</string>
	<key>PROJECT_ID</key>
	<string>forecastproject-9c7e1</string>
	<key>STORAGE_BUCKET</key>
	<string>forecastproject-9c7e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3361174751:ios:4ec546cad56e73953e256a</string>
</dict>
</plist>